@import url('https://fonts.googleapis.com/css?family=Kanit:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak|Monofett&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  /* background-color: #916412;
   */
  background-color: rgb(243, 223, 186);
}

header>h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Modak', cursive;
  /* font-family: 'Monofett', cursive; */
  font-weight: 1500px;
  font-size: 40px;
  /* color: #453823; */
  color: #ffffff;
  /* color: #9b6001; */

  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #9b6001;

  /* text-shadow: 2px 2px #2C2416; */
}

.theCat {
  padding-top: 20px;
  padding-bottom: 50px;
}

.theCat img {

  height: 25rem;
  width: 25rem;
  border: 1px solid rgb(63, 50, 30);
  border-width: 5px;
  border-radius: 4px;
  object-fit: cover;

  /* padding: 5px; */
}

.btn {
  text-decoration: none;
  padding-right: 100px;
  margin: 5px;
  color: white;
  background-color: #9b6001 !important;

}

.btn:hover {
  text-decoration: none;
  padding-right: 100px;
  margin: 5px;
  color: white;
  background-color: #453823 !important;

}